In [3]:
import sqlite3

In [4]:
#Connect the SQlite Databases
connection = sqlite3.connect('example.db')
connection

In [5]:
cursor = connection.cursor()

In [7]:
# Create a Table
cursor.execute('''
Create Table Employees(
        id integer Primary Key,
        name Text not null,
        age Integer,
        department text
)
''')
#Make changes in the DB
connection.commit()

In [9]:
# Insert Data 
cursor.execute(
    '''
        Insert into employees(name,age,department) values("Abu",19,"AI&DS")
    '''
)
connection.commit()

In [11]:
# See the Details 
value=cursor.execute(
    '''
        Select * from employees
    '''
)

In [12]:
for i in value:
    print(i)

(1, 'Abu', 19, 'AI&DS')

In [13]:
# Update the values
cursor.execute(
    '''
        Update employees
        set age = 20
        where name="Abu"
    '''
)
connection.commit()

In [14]:
value=cursor.execute(
    '''
        Select * from employees
    '''
)
for i in value:
    print(i)

(1, 'Abu', 20, 'AI&DS')

In [17]:
# Delete The Data From the Table
value=cursor.execute(
    '''
        delete from employees
        where name = 'Abu'
    '''
)
connection.commit()

In [18]:
# Close the Connection
connection.close()